<script>
window.location.href = '/?cart=true'
</script>
<form>
    <div class="cart-attribute__field">
        <label for="twitch-username">Twitch Username (for stream credit)</label>
        <input type="text" id="twitch-username" name="note" placeholder="Your Twitch username" value="{{ cart.note }}">
    </div>    
</form>